<body>

<style>

html, body {
    margin: 0;
}

container{
padding: 5px 0 15px 0;
display: flex;
justify-content: space-around;
}

</style>

<div class="container d-flex justify-content-center">
<h1>All My Favorite Workouts!!!</h1>
</div>

<!--
# <%= link_to "New Workout", new_user_workout_path %>
# <%= link_to "Back", user_path(@user) %>

# <ul>
# <% @workouts.order(:workout_date).each do |workout| %>
#     <li><%= link_to workout.name, user_workout_path(user_id: workout.user_id, id: workout.id) %></li>
# <% end %>
# </ul>
-->

<div class="container d-flex justify-content-center">
    <a class="btn btn-primary mr-5" href='/users/<%= @user.id %>/workouts/new' role="button">New Workout</a>
    <a class="btn btn-primary mr-5" href='/users/<%= @user.id %>' role="button">Back</a>
</div>

<div class="container">
        <div class="row">    
                <% @workouts.order(:workout_date).each do |workout| %>
                    <div class="col-sm-6 col-lg-3 py-2 mr-5">
                        <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                        <% if workout.exercises.count > 0 %>
                            <img src="<%= workout.exercises[(rand 0..(workout.exercises.count-1))].image_url %>" class="card-img-top">
                        <% end %>
                            <div class="card-body">
                                <h5 class="card-title d-flex justify-content-center"><%= workout.name %></h5>
                                <p class="card-text d-flex justify-content-center"><%= workout.workout_date.strftime('%B %d') %></p>
                                <a href="/users/<%= workout.user_id %>/workouts/<%= workout.id %>" class="btn btn-primary d-flex justify-content-center">View Workout</a>
                            </div>
                        </div>
                    </div>
                <% end %>
        </div>
</div>

</body>
</html>