<body>

<style>

html, body {
    height: 100%;
}

container{
    padding: 5px 0 15px 0;
    display: flex;
    justify-content: space-around;
}

.top-box{
    background-color: rgba(52, 58, 64, 0.47);
    width: 45%;
    border-radius: 10px;
    border: 2px solid black;
    margin: auto;
    text-align: center;
    height: 135px;
    font-size: 40px;
    color: white;
}

.card {
    margin-top: 8px;
}

</style>

<div class="background img-fluid" style="background-image: url(https://thumbs.dreamstime.com/b/fitness-bodybuilding-background-dumbbells-gym-floor-top-view-fitness-bodybuilding-concept-background-product-photograph-108091636.jpg); background-size:cover; background-position: center; background-repeat: no-repeat; background-size: cover; height: 120%;;">


<div class="container d-flex justify-content-center">
    <div class="top-box"
        <h1>All My Favorite Workouts!!!</h1>
        <a class="btn btn-primary" href='/users/<%= @user.id %>/workouts/new' role="button">New Workout</a>
        <a class="btn btn-primary" href='/users/<%= @user.id %>' role="button">Back</a>
    </div>
</div>


<div class="container">
        <div class="row">    
                <% @workouts.order(:workout_date).each do |workout| %>
                    <div class="col-sm-6 col-lg-3 py-2 mr-5">
                        <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                        <% if workout.exercises.count > 0 %>
                            <img src="<%= workout.exercises[(rand 0..(workout.exercises.count-1))].image_url %>" class="card-img-top">
                        <% end %>
                            <div class="card-body">
                                <h5 class="card-title d-flex justify-content-center"><%= workout.name %></h5>
                                <p class="card-text d-flex justify-content-center"><%= workout.workout_date.strftime('%B %d') %></p>
                                <a href="/users/<%= workout.user_id %>/workouts/<%= workout.id %>" class="btn btn-primary d-flex justify-content-center">View Workout</a>
                            </div>
                        </div>
                    </div>
                <% end %>
        </div>
</div>

</body>
</html>