<h1>New Workout Form</h1>

<%= form_tag user_workouts_path do %>
    <%= label_tag "Name " %>
    <%= text_field_tag :name %><br>
    <%= label_tag "Length " %>
    <%= text_field_tag :length %><br>
    <%= label_tag "Workout Date " %>
    <%= date_field_tag :workout_date %><br>

    <%= submit_tag "Create Workout" %>
<% end %>

<%= link_to "Cancel", user_workouts_path %>