<h1>New Workout Form</h1>


<%= form_tag new_user_workout_path do %>
    <%= label_tag :for, "Name " %>
    <%= text_field_tag :"user[workout][name]" %><br>
    <%= label_tag :for, "Length " %>
    <%= text_field_tag :"user[workout][length]" %><br>
    <%= label_tag :for, "Workout Date " %>
    <%= text_field_tag :"user[workout][workout_date]" %><br>

    <%= submit_tag "Create Workout" %>
<% end %>