<h1><%= @workout.name %></h1>
<p>Workout Date: <%= @workout.workout_date %></p>
<p>Workout Length: <%= pluralize(@workout.length, 'Minute') %></p>

<p>Exercises</p>
<ul>
<% @workout.exercises.each do |exercise| %>
    <li><%= link_to exercise.exercise_name, exercise_path(exercise) %></li>
<% end %>
</ul>

<%= link_to "Add Exercises", exercises_path %>