<h1><%= @workout.name %></h1>
<p>Workout Date: <%= @workout.workout_date.strftime('%m-%d-%Y') %></p>
<p>Workout Length: <%= pluralize(@workout.length, 'Minute') %></p>

<p>Exercises</p>
<% @workout.exercises.each do |exercise| %>
<img src=<%=exercise.image_url%> style="width:420px;height:200px"/><br>
<%= link_to exercise.exercise_name, exercise_path(exercise) %><br><br>
<% end %>


<%= link_to "View Exercises", exercises_path %><br>
<%= link_to "Back", user_workouts_path %>