<% if flash[:login_error] %>
    <p><%= flash[:login_error] %></p>
<% end %>

<%= form_tag login_path do %>
    <%= label_tag :for, "Username " %>
    <%= text_field_tag :"user[username]" %><br>
    <%= label_tag :for, "Password " %>
    <%= password_field_tag :"user[password]" %><br>

    <%= submit_tag 'Login' %><br>
<% end %>