<style>

html, body{
    margin: 0;
    height: 100%;
}

.container{
    padding: 25px 0 15px 0;
    height: 25%;
    width: 25%;
    display: flex;
    text_align: center;
    justify-content: center;
    background-color: black;
    border-radius: 25px;
}


.buttonholder{
    width: 50%;
    text-align: center;
    margin-left: 95px;
    margin-top: 15px;
}

.form-groups{
    margin-top: 10px;
}

.background {
    background-image: url('https://besthqwallpapers.com/img/original/45386/plank-exercise-front-hold-bodybuilding-bar-sports-exercise.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

</style>


<body>
   <!-- <div class="background"></div> -->
   <div class="background img-fluid" style="background-image: url('https://besthqwallpapers.com/img/original/45386/plank-exercise-front-hold-bodybuilding-bar-sports-exercise.jpg'); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover"> 

<div class="container">
    <div class="row">
        <% if flash[:login_error] %>
                <p><%= flash[:login_error] %></p>
        <% end %>
    </div>

    <div class="row">
        <%= form_tag login_path do %>
        <div class="form-groups">
            <%= text_field_tag :"user[username]", nil, placeholder: "Username" %>
        </div>
        <div class="form-groups">
            <%= password_field_tag :"user[password]", nil, placeholder: "Password" %>
        </div>
        <div class="buttonholder">
            <%= submit_tag 'Login' %>
        </div>
    <% end %>
</div>
</div>    
</div>
</div>
</body>

<!--
<div class="container">
<%= form_tag login_path do %>
    <div class="form-groups">
        <%= label_tag :for, "Username " %>
        <%= text_field_tag :"user[username]" %><br>

    </div>

</div>
</body>