<h1>Edit User Form</h1>
<%= form_for @user do |f| %>

    <%= f.label :age %>
    <%= f.text_field :age %><br>

    <%= f.label :weight %>
    <%= f.text_field :weight %><br>
    
    <%= f.submit %>

<% end %>