<h1>New User Form</h1>
<%= form_for @user do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %><br>

    <%= f.label :password %>
    <%= f.text_field :password %><br>

    <%= f.label :name %>
    <%= f.text_field :name %><br>

    <%= f.label :age %>
    <%= f.text_field :age %><br>

    <%= f.label :weight %>
    <%= f.text_field :weight %><br>

    <%= f.label :charity_id %>
    <%= f.collection_select :charity_id, Charity.all, :id, :charity_name %><br>

    <%= f.submit %>

<% end %>