<h1>New User Form</h1>

<%= form_tag @user do %>

    <% if flash[:errors] %>
        <% flash[:errors].each do |err| %>
            <p><%= err %></p>
        <% end %>
    <% end %>

    <%= label_tag :for, "Username " %>
    <%= text_field_tag :"user[username]" %><br>
    <%= label_tag :for, "Password " %>
    <%= password_field_tag :"user[password]" %><br>
    <%= label_tag :for, "Name " %>
    <%= text_field_tag :"user[name]" %><br>
    <%= label_tag :for, "Age " %>
    <%= text_field_tag :"user[age]" %><br>
    <%= label_tag :for, "Weight " %>
    <%= text_field_tag :"user[weight]" %><br>

    <%= submit_tag 'Create User' %><br>
<% end %>