<h1>My Fitness Profile</h1>
<h3><%= @user.name %></h3>

<p>Age: <%= @user.age %></p>
<p>Weight: <%= @user.weight %> lbs</p>

<%= link_to "Calendar View", user_date_ofs_path(@user) %><br>
<%= link_to "Edit Profile", edit_user_path(@user) %>