<h1><%= @date.date_of.strftime("%B %d") %> Stats</h1>

<h3>Meals</h3>
<% @date.diets.each do |meal| %>
    <p><%= meal.meal %></p>
<% end %><br>

<h3>Sleep</h3>
<% @date.sleeps.each do |sleep| %>
    <p><%= sleep.hours %> hrs</p>
<% end %><br>


<h3>Workouts</h3>
<% @date.workouts.each do |workout| %>
    <p><%= link_to workout.name, controller: 'workouts', action: "show", id: workout.id %></p>
    <%= @date.workouts %>
<% end %>
