<h1><%= @exercise.exercise_name %></h1>
<p><%= @exercise.category %></p>
<p><%= @exercise.exercise_difficulty %></p>
<p><%= @exercise.exercise_impact_level %></p>
<p><%= @exercise.target_body_parts %></p>

<!-- workout dropdown - add to workout -->

<%= link_to "Back", exercises_path %>

<video src=<%= @exercise.exercise_video %> autoplay loop />